
.container {
    position: relative;
    background: url("https://c.wallhere.com/photos/66/42/1920x1080_px_field-1231589.jpg!d") center center/cover   ;
    height: calc(100vh - 150px);
    display: flex;
    padding: 30px;
    padding-left: 130px ;
    align-items: center;
}


.sideBar{
    height: 80%;
    width: 10%;
    background-color: rgba(0, 0, 0, 0.464);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.sideBar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sideBar li{
 width: 100%;
 border-radius: 10px;
 height: 70px;
 display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 margin-bottom: 80px;
 margin-top: 80px;
}

.sideBar li:hover{
    background-color: black;
}

.main{
    background-color: rgba(255, 255, 255, 0.861);
    height: 80%;
    width: 55%;
    border-radius: 10px;
    margin-left: 250px;
    padding: 20px;
}

.icono{
    width: 180px;
    height: 40px;
}

.selected {
    background-color: #4c8baf; /* Color de fondo cuando está seleccionado */
    color: white; /* Color del texto cuando está seleccionado */
  }