.card{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(41, 39, 43, 0.863)
}

.data1{
    background-color: rgb(41, 182, 31);
    width: 100%;
    height: 100px;
    display: flex;
    border-bottom: solid black 5px;
}

.icono{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: xx-large;
    font-weight: bold;
    border-right: 5px solid ;
   

}
.peso{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-size: xx-large;
    font-weight: bold;
}

.data2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.item{
    display: flexbox;
    width: 100%;
    margin: 10px;
}

.data2 h4{
    font-size: x-large;
    color: #CBB26A;
    font-weight: bold;
}

.data2 h5{
    font-size: x-large;
    color: white;
    font-weight: bold;
}

.salida{
    margin-right: 9px;
}


.select{
    width: 100%;
}

.data2 form{
    position: relative;
    display: flex;
    width: 100%;
    padding: 9px;
    background-color: black;
    border-top: solid white 5px;

}

.btn{
    position: relative;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 10px;
    font-weight: bold;
    font-size: large;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
    background-color: black;
    padding: 5px; 
    padding-top: 15px; 
}

.eliminar{
    position: absolute;
    right: 0;
    margin: 5px;
    cursor: pointer;
    background-color: red;
    font-weight: bold;
    font-size: large;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 20%;

}

@media screen and (max-width: 600px) {
    .card{
        display: flex;
        position: relative;
    }
   .data1{
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    height: 90px;
   }
   .icono{
    width: 100%;
    border-bottom: solid black 5px;
    height: 50%;
   }
   .peso{
    width: 100%;
    border-right: solid black 5px;
    height: 50%;
   }

   .data2 h4{
    font-size: medium;
    color: #CBB26A;
    font-weight: bold;
    margin: 0px;
    }

    .data2 h5{
        font-size: small;
        color: white;
        font-weight: bold;
        margin: 0px;
    }

    .data2{
        width: 75%;
        height: 90px;
        margin: 0px;
        display: flex;
        justify-content: center;
    }

.item{
    width: 30%;
    margin-bottom: 0px;
    margin-top: 2px;
    height: 30%;
}
.obser{
    display: none;
}
.form{
    background-color: black;
    margin: 0px;
    padding: 0px;
}
.form select{
    height: 20px;
    font-size: medium;
}
.form input{
    height: 20px;
}
.form label{
    font-size: medium;
}
.salida{
    margin-right: 40px;
}
.eliminar{
    font-size: small;
}

}
  