
.container{
    position: relative;
    background-color: rgb(41, 39, 43);
    height: calc(100vh - 150px);
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-areas: "main main2";
    padding: 10px;
}



.main{
    background-color:white ;
    border: solid 5px #CBB26A;
    border-radius: 10px;
    height: 98%;
    margin: 10px;
    display: flex;
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow: hidden;
    overflow-y: scroll;
}
.main::-webkit-scrollbar {
    width: 10px;  /* Ancho del scrollbar */
}

.main::-webkit-scrollbar-track {
    background-color: rgba(38, 38, 36, 0.645);  /* Color de fondo de la vía del scrollbar */
    border-radius: 5px;
}

.main::-webkit-scrollbar-thumb {
    background-color: #CBB26A;  /* Color de fondo del pulgar del scrollbar */
    border-radius: 5px;
    border: 2px solid rgba(38, 38, 36, 0.645);  /* Borde del pulgar del scrollbar */
}

.main::-webkit-scrollbar-thumb:hover {
    background-color: #a09358;  /* Color de fondo del pulgar del scrollbar cuando se pasa el cursor sobre él */
}


.main2{
    background-color:white;
    border: solid 5px #CBB26A;
    border-radius: 10px;
    grid-area: main2;
    height: 98%;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; 
}



.loaderContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader{
    /* HTML: <div class="loader"></div> */

    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#CBB26A 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#CBB26A);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }


  .salidaDiv{
    width: 100%;
    border: solid white ;
    border-radius: 10px;
    display: flex;
    height: 100px;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(41, 39, 43);
}

.salidaDiv:hover {
    transform: scale(1.02); /* Aumenta el tamaño un 5% */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Añade una sombra para la ilusión de elevación */
    transition: ease .5s;
}


.divisor{
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.divisor h3{
    color: #CBB26A;
}
.divisor h5{
    color: white;
    font-size: x-large;
}

.animalesSalida{
    width: 22%;
    border: solid black 3px;
    margin: 5px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}

.peso{
    background-color: rgb(41, 182, 31);
    font-size: large;
    font-weight: bold;
    padding: 2px;
    width: 100%;
}
.tropa{
    background-color:rgba(41, 39, 43, 0.745) ;
    color: white;
    width: 100%;
    font-size: small;
    font-weight: bold;
    padding: 3px;
}


/* Estilos para vista de celular */
@media screen and (max-width: 768px) {
    .container {
      grid-template-columns: 100%; /* Cambiar a una sola columna */
      grid-template-areas: 
        "main"
        "main2"; /* Definir las áreas para main y main2 */
        height: calc(100vh - 120px);
        
    }
  
    .main {
      width: 100%; /* Ocupa el 80% del ancho disponible */
      margin: 10px auto; /* Centrar horizontalmente */
      height: 400px;
      padding: 3px;
    }
  
    .main2 {
      width: 100%; /* Ocupa el 80% del ancho disponible */
      margin: 10px auto; /* Centrar horizontalmente */
      height: 250px;
      display: flex;
      overflow-y: scroll;
    }

    .salidaDiv{
        width: 100%;
        border: solid white ;
        border-radius: 10px;
        display: flex;
        height: 100px;
        margin-bottom: 10px;
        cursor: pointer;
        padding: 10px;
        align-items: center;
        justify-content: space-around;
        background-color: rgb(41, 39, 43);
        height: 70px;
    }
    .divisor h5{
        color: white;
        font-size: small;
    }
    .celular{
        display: none;
    }
  }
  