.card{
    width: 120px;
    margin: 10px;
    border: solid 4px ;
    position: relative;
    user-select: none;
}

.data1{
    background-color: rgb(9, 79, 4);
    height: 40%;
    display: flex;
}


.data2 h5{
    color: white;
    padding: 3px;
}

.icono{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    border-bottom: solid;
}

.peso{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    border-left: solid;
    border-bottom: solid;
}

.card h4{
    color: #CBB26A;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: ease 0.8s;
}

.alert{
    color: red;
    position: absolute;
    bottom: 0px;
    right: 3px;
}