.card{
    width: 120px;
    margin: 10px;
    border: solid 4px ;
    position: relative;
    user-select: none;
    background-color: rgba(38, 38, 36, 0.827);
}

.data1{
    background-color: rgb(41, 182, 31);
    height: 40%;
    display: flex;
}


.data2 h5{
    color: white;
    padding: 3px;
}

.icono{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    border-bottom: solid;
}

.peso{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    border-left: solid;
    border-bottom: solid;
}

.card h4{
    color: #CBB26A;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: ease 0.8s;
}

.alert{
    color: red;
    position: absolute;
    bottom: 0px;
    right: 3px;
}


.selected{
    background-color:#CBB26A;
}
.selected h4{
    color: black !important;
}
.selected2{
    background-color: rgb(5, 101, 15);
}
/*////////////////// CELULAR /////////////////////*/


@media screen and (max-width: 768px) {
    /* En la vista móvil, ocultar observaciones */
    .responsive {
      display: none;
    }

    .card{
        width: 50px;
        border: solid 2px;
    }

    .data1{
        align-items: center;
        justify-content: center;
        
    }

    .peso{
        border: none;
        font-size: medium;
    }

    .card:hover{
        border: solid  red;
    }
  }