.container{
    position: relative;
    background-color: rgb(41, 39, 43);
    height: 83.9vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    color: red;
}

.form{
    background-color:rgba(0, 0, 0, 0.642) ;
    border: solid 5px #CBB26A;
    border-radius: 10px;
    width: 35%;
}

.form h1{
    margin: 10px;
}

input{
    height: 30px;
    justify-content: center;
    text-align: center;
}

select{
    height: 30px;
    justify-content: center;
    width: 30%;
    justify-content: center;
}

label {
    display: block;
    font-size: x-large;
    font-weight: bold;
    color: #e2c469;
}


.input{
    margin: 30px;
}

.btn{
        background-color:red;
        color: black;
        font-size: large;
        font-weight: bold;
        border-radius: 15px;
        padding: 7px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 20px;
        cursor: pointer;
        
}

option{

    text-align: center;
}

input{
    width: 50%;
}


/* Estilos para vista de celular */
@media screen and (max-width: 768px) {
    .container {
      flex-direction: column; /* Cambiar a disposición en columna */
      align-items: center; /* Centrar verticalmente */
      height: auto; /* Eliminar la altura fija */
      padding: 10px; /* Agregar espacio entre elementos */
    }
  
    .form {
      width: 80%; /* Ocupa el 80% del ancho disponible */
      margin: 15px;
    }
  
    .form h1 {
      margin: 10px 0; /* Reducir el espacio superior e inferior del título */
      font-size: x-large;
    }
  
    .form label{
      font-size: large;
    }

    .form option{
      font-size: medium !important;
    }
    input, select {
      width: 50%; /* Ocupa el ancho completo disponible */
      font-size: small !important;

    }
    
    .input {
      margin: 20px 0; /* Reducir el espacio superior e inferior de los elementos de entrada */
    }

    .btn{
      font-size: small;
    }
  }
  