.container{
    position: relative;
    background-color: rgb(41, 39, 43);
    height: calc(100vh - 150px);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.maine{
    background-color:rgba(38, 38, 36, 0.645) ;
    border: solid 5px #CBB26A;
    border-radius: 10px;
    height: 98%;
    padding: 20px;
    width: 80%;
}

.loaderContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader{
    /* HTML: <div class="loader"></div> */

    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#CBB26A 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#CBB26A);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }

  .datos{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch !important; /* Cambiado a stretch */
    justify-content: space-between;
}

.dato{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin: 10px;
    /* height: 100px; */ /* Comentado para permitir que la altura se ajuste automáticamente */
   margin-bottom: 30px;
}


  .dato h3{
    width: 100%;
    margin: 0;
    padding: 0;
    color: #CBB26A;
    font-size: x-large;
    font-weight: bold;
  }

  .dato h4{
    padding: 0;
    width: 100%;
    margin: 0;
    font-size: large;
    font-weight: bold;
    color: white;
  }

  .animales{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .columna{
    border: #000 solid 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 19.8%;
    font-size: larger;
    font-weight: bold;
    background-color: #CBB26A;
    flex-wrap: wrap;
    margin: 1px;
  }

  .rango{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: larger;
    font-weight: bold;
    background-color: #CBB26A;
    flex-wrap: wrap;
  }

  .list {
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; /* Añade esta propiedad */
    min-height: 250px;
    overflow-y: scroll;
    max-height: 250px;
  }
  
  .res{
    position: relative;
    border: solid black 2px;
    font-weight: bold;
    color: rgb(26, 18, 18);
    padding: 5px;
    margin: 1px;
    display: flex;
    background-color: rgba(128, 128, 128, 0.689);
    cursor: pointer;
    min-width: 48px;
    display: flex;
    justify-content: center;
  }

  .despachado{
    background-color: rgb(41, 182, 31);
  }

  .finanza{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: solid 1px white;
    background-color: #000;
    border-radius: 10px;
    align-items: center;
  }

  .gasto {
    color: red !important;
  }

  .profit{
    color: green !important;
  }

  .infoCol{
    border-top: solid black 5px;
    height: 50px;
    width: 100%;
   background-color: #000;
   display: flex;
   align-items: center;
   justify-content: space-around;
   color: white;
  }

  .span{
    color:#CBB26A;
  }

  .eliminar{
    display: flex;
    position: absolute;
    right: 35px;
    top: 30px;
    margin: 0px;
    cursor: pointer;
    background-color: red;
    font-weight: bold;
    font-size: large;
    padding: 2px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
  /* Reglas específicas para dispositivos con un ancho máximo de 768px (ajustable según tus necesidades) */

  .container{
    height: auto;
    width: 100% !important;
    padding: 0;
    border: none !important;
  }

  .maine{
    width: 99%;
    padding: 0px;
    border: none;
  }
  .datos{
  display: flex;
  flex-wrap: wrap;
}

  .dato {
      width: 40%; /* Cambiado a 100% para dispositivos móviles */
      margin-bottom: 5px;
  }

  .animales .columna {
      width: 48%; /* Cambiado a 48% para dispositivos móviles */
  }

  .mobile{
    display: none;
  }

  .dato h3{
    width: 100%;
    margin: 0;
    padding: 0;
    color: #CBB26A;
    font-size: large;
    font-weight: bold;
  }

  .dato h4{
    padding: 0;
    width: 100%;
    margin: 0;
    font-size: large;
    font-weight: bold;
    color: white;
  }

  .res{
    position: relative;
    border: solid black 1px;
    font-weight: bold;
    color: rgb(26, 18, 18);
    padding: 1px;
    margin: 2px;
    display: flex;
    background-color: rgba(128, 128, 128, 0.689);
    cursor: pointer;
    min-width: 40px;
    display: flex;
    justify-content: center;
    font-size: medium;
  }
  .list{
    max-height: 100px;
    overflow-y: scroll;
  }
  .columna{
    margin: 3px;
  }
  .despachado{
    background-color: rgb(41, 182, 31);
  }
  /* Agrega más reglas según sea necesario para hacer otros elementos más responsive */
}